.playerWrapper {
    width: 85%;
    margin: 0 auto;
    margin-top: 2.3rem;
    max-width: 500px;
    @media screen and (min-width: 768px) {
        width: 70%;
        max-width: 750px;
        margin-top: 3rem;
    }
}